*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.game{
    margin: auto;
    width: 83%;
    height: 40vw;
    border:solid 1.5px black;
    background-image: url(assets/pa15.jpg);
    background-size:cover;
    


}
.personagem{
    position: relative;
    top: 67.4%;
    left: 7%;
    width:10%;
    height: 13vw;
    background-image: url(assets/jade.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    
   
}
.animate {
    animation: personagem 0.5s linear;
}
@keyframes personagem{
    0%{top: 70.5%;}
    30%{top: 50%;}
    50%{top: 50px;}
    80%{top: 60px;}
    100%{top: 70.5px;}

}

.bloco{
    background-image: url(assets/corona.png);
    position: relative;
    left: 96.7%;
    top: 55.3%;
    width:4.3vw;
    height: 4.8vw;
    background-repeat: no-repeat;
    background-size: cover;
    animation: bloco 1.60s infinite linear;
}


@keyframes bloco{
    0%{left: 96.7%;}
    100%{left: -4%;}

}


